@model TeteesLab4.Models.TeteesCoteViewModel

@{
    ViewData["Title"] = "MvcTetees";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<form asp-controller="Tetees" asp-action="Index" method="get">
    <p>
        <select asp-for="TeteeCote" asp-items="Model.Cotes">
            <option value="">All</option>
        </select>
        Title: <input type="text" name="SearchString">
        <input type="submit" value="Filter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
                <th>
                    @Html.DisplayNameFor(model => model.Tetees[0].Title)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tetees[0].Heure)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tetees[0].Cote)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tetees[0].Technique)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.Tetees[0].Commentaire)
                </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model.Tetees) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Title)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Heure)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Cote)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Technique)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Commentaire)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
